
main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

body {
    background-color: #4b5769;
    color:#cfdbd6;
    font-family: "Raleway";
    font-weight: 400;
}

h1 {
  font-family:"DM Serif Text", serif;
  font-size: 60px;
  font-weight: 400;
  color: #E2FADB;
  text-align: center;
}

h2 {
  font-family:"DM Serif Text", serif;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.491);
  padding: 16px;
  border-radius: 50px;
}

h3 {
  font-family:"DM Serif Text", serif;
  font-size: 40px;
  color: #f1f2ff;
  text-align: center;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-color: #738baf;
}

h4 {
  font-family:"DM Serif Text", serif;
  font-size:30px;
  color:#c4d5d7;
  text-align: center;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-color: #40805e;
}


p {
  font-size: 20px;
  text-indent: 32px;
  margin-bottom: 40px
}

a {
  color:#518972;
  transition: 3s;
  font-style: italic;
  font-weight: 600;
}

a:hover {
  color: #9ae1c0;
  text-decoration:wavy;
  text-decoration-line: underline;
}

.title {
  font-family:"Borel";
  font-style: italic;
}

ul {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 180%;
}

.contrast {
  color:#d9edd3;
  font-style: italic;
  font-weight: bold;
}

li {
  font-family:"DM Serif Text", serif;
  font-size:25px;
  font-weight: 40;
}